<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.system.mapper.SystemdictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.system.model.Systemdictionary" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="intro" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, title, intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from systemdictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectListPager" resultType="com.zking.ssm.system.model.Systemdictionary"
          parameterType="com.zking.ssm.system.model.Systemdictionary">
    SELECT
    <include refid="Base_Column_List"/>
    FROM systemdictionary WHERE  1=1
    <if test="null!=title and ''!=title">
      AND title LIKE concat('%',concat(#{title},'%'))
    </if>
    order by id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from systemdictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.system.model.Systemdictionary" >
    insert into systemdictionary (id, sn, title, 
      intro)
    values (#{id,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.system.model.Systemdictionary" >
    insert into systemdictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="intro != null" >
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.system.model.Systemdictionary" >
    update systemdictionary
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.system.model.Systemdictionary" >
    update systemdictionary
    set sn = #{sn,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>