<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.borrowing.mapper.BidMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.borrowing.model.Bid" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="actualRate" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="availableAmount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="bidrequest_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="bidUser_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="bidTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="bidRequestTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bidRequestState" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, actualRate, availableAmount, bidrequest_id, bidUser_id, bidTime, bidRequestTitle, 
    bidRequestState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from bid
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryBidList" resultType="com.zking.ssm.borrowing.model.Bid">
    select <include refid="Base_Column_List"/> from bid where bidrequest_id=#{id}
  </select>
  <select id="queryBidListId" resultType="com.zking.ssm.borrowing.model.Bid">
    SELECT DISTINCT(bidrequest_id) FROM bid WHERE bidUser_id=#{id}
  </select>
  <select id="queryList" resultType="com.zking.ssm.borrowing.model.Bid"
          parameterType="com.zking.ssm.borrowing.model.Bid">
    select <include refid="Base_Column_List"/> from bid where bidrequest_id=#{bidrequestId} and bidUser_id=#{biduserId}
  </select>
  <select id="queryBidListIdPager" resultType="com.zking.ssm.borrowing.model.Bid"
          parameterType="com.zking.ssm.base.util.PageBean">
    SELECT DISTINCT(bidrequest_id) FROM bid WHERE bidUser_id=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bid
    where bidUser_id = #{biduserId} and  bidrequest_id=#{bidrequestId}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.borrowing.model.Bid" >
    insert into bid ( actualRate, availableAmount,
      bidrequest_id, bidUser_id,
      bidRequestTitle, bidRequestState)
    values ( #{actualrate,jdbcType=DECIMAL}, #{availableamount,jdbcType=DECIMAL},
      #{bidrequestId,jdbcType=BIGINT}, #{biduserId,jdbcType=BIGINT},
      #{bidrequesttitle,jdbcType=VARCHAR}, #{bidrequeststate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.borrowing.model.Bid" >
    insert into bid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="actualrate != null" >
        actualRate,
      </if>
      <if test="availableamount != null" >
        availableAmount,
      </if>
      <if test="bidrequestId != null" >
        bidrequest_id,
      </if>
      <if test="biduserId != null" >
        bidUser_id,
      </if>
      <if test="bidtime != null" >
        bidTime,
      </if>
      <if test="bidrequesttitle != null" >
        bidRequestTitle,
      </if>
      <if test="bidrequeststate != null" >
        bidRequestState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="actualrate != null" >
        #{actualrate,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null" >
        #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="bidrequestId != null" >
        #{bidrequestId,jdbcType=BIGINT},
      </if>
      <if test="biduserId != null" >
        #{biduserId,jdbcType=BIGINT},
      </if>
      <if test="bidtime != null" >
        #{bidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidrequesttitle != null" >
        #{bidrequesttitle,jdbcType=VARCHAR},
      </if>
      <if test="bidrequeststate != null" >
        #{bidrequeststate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.borrowing.model.Bid" >
    update bid
    <set >
      <if test="actualrate != null" >
        actualRate = #{actualrate,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null" >
        availableAmount = #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="bidrequestId != null" >
        bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      </if>
      <if test="biduserId != null" >
        bidUser_id = #{biduserId,jdbcType=BIGINT},
      </if>
      <if test="bidtime != null" >
        bidTime = #{bidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidrequesttitle != null" >
        bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR},
      </if>
      <if test="bidrequeststate != null" >
        bidRequestState = #{bidrequeststate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.borrowing.model.Bid" >
    update bid
    set actualRate = #{actualrate,jdbcType=DECIMAL},
      availableAmount = #{availableamount,jdbcType=DECIMAL},
      bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      bidUser_id = #{biduserId,jdbcType=BIGINT},
      bidTime = #{bidtime,jdbcType=TIMESTAMP},
      bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR},
      bidRequestState = #{bidrequeststate,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>