<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.book.mapper.CustomerMapper" >
  <resultMap id="OneToMany" type="com.zking.ssm.book.model.Customer" >
    <id property="customerId" javaType="integer" column="customer_id"/>
    <result property="customerName" javaType="string" column="customer_name"/>
    <collection property="orders" ofType="com.zking.ssm.book.model.Order">
      <id property="orderId" javaType="integer" column="order_id"/>
      <result property="orderNo" javaType="string" column="order_no"/>
      <result property="cid" javaType="integer" column="cid"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    customer_id, customer_name
  </sql>
  <select id="queryCustomerOneToMany" resultMap="OneToMany">
    SELECT * FROM t_customer c LEFT JOIN  t_order o ON  c.customer_id=o.cid
  </select>

</mapper>