<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.check.mapper.MailverifyMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.check.model.Mailverify" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userinfo_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="deadline" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="randomcode" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userinfo_id, deadline, randomcode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mailverify
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mailverify
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.check.model.Mailverify" >
    insert into mailverify (id, userinfo_id, deadline, 
      randomcode)
    values (#{id,jdbcType=BIGINT}, #{userinfoId,jdbcType=BIGINT}, #{deadline,jdbcType=TIMESTAMP}, 
      #{randomcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.check.model.Mailverify" >
    insert into mailverify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userinfoId != null" >
        userinfo_id,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="randomcode != null" >
        randomcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userinfoId != null" >
        #{userinfoId,jdbcType=BIGINT},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="randomcode != null" >
        #{randomcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.check.model.Mailverify" >
    update mailverify
    <set >
      <if test="userinfoId != null" >
        userinfo_id = #{userinfoId,jdbcType=BIGINT},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="randomcode != null" >
        randomcode = #{randomcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.check.model.Mailverify" >
    update mailverify
    set userinfo_id = #{userinfoId,jdbcType=BIGINT},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      randomcode = #{randomcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>